@font-face {
    font-family: 'Aviex';
    src: url('Aviex_Sans.woff2') format('woff2'),
        url('Aviex_Sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

